body {
	padding: 60px;
}

input {
	width: 100%;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	border: 2px solid gray;
	border-radius: 5px;
	max-width: 220px;
	margin: 10px;
}

.card img {
	width: 100%;
}

.card p {
	background-color: rgb(218, 216, 216);
	padding: 5px;
	margin: 0;
}